footer {
  margin-top: auto;
    background-color: black;
    color: #BBBBBB;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inconsolata';
    line-height: 1.024rem;


    bottom: 0;


    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    padding: 25px;
    gap: 10px;
    @media screen and (min-width:940px) {
      padding-left: 20%;
      
    }
    a{
      color:#FFFFFF;
      text-decoration: underline;
    }
  }