footer {
    background-color: black;
    color: #BBBBBB;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inconsolata';
    line-height: 1.024rem;
    width: 100%;
    height: 98px;
    position: fixed;
    bottom: -60px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
    a{
      color:#FFFFFF
    }
    svg{
      filter: invert(100%) sepia(15%) saturate(7442%) hue-rotate(180deg) brightness(108%) contrast(116%);
    }
  }